---
import experiences from "@/js/objects/experiences.js";
import { formatDate, calculateDuration } from "@/js/DateFormat.js";
---

<section class="flex flex-col justify-between gap-2">
  <h1 class="text-xl font-bold">Experience</h1>
  <div class="flex flex-col gap-4">
    {
      experiences.map((experience) => {
        // Ensure dates are in string format for formatDate and calculateDuration functions
        const startDateStr = experience.startDate.toISOString().split("T")[0];
        const endDateStr = experience.endDate
          ? typeof experience.endDate === "string"
            ? experience.endDate
            : experience.endDate.toISOString().split("T")[0]
          : null;

        return (
          <div>
            <div class="flex justify-between">
              <div>
                <h3 class="text-black font-bold text-xl capitalize">
                  {experience.position}
                </h3>
                <h2 class="font-bold">
                  {experience.company} | {experience.type}
                </h2>
                <div class="flex gap-2 text-sm">
                  <span>
                    {formatDate(startDateStr)} -{" "}
                    {endDateStr ? formatDate(endDateStr) : "Present"}
                    {endDateStr &&
                      ` • ${calculateDuration(startDateStr, endDateStr)}`}
                  </span>
                </div>
                <span class="text-sm">{experience.location}</span>
              </div>
              <a
                href={experience.url}
                target="_blank"
                class="hover:text-secondary h-fit"
              >
                <i class="fa-solid fa-up-right-from-square" />
              </a>
            </div>
            <div class="mt-2 flex flex-col gap-1">
              {experience.description.split("\n").map((line) => (
                <p set:html={line} />
              ))}
            </div>
            <img
              src="public/img/Black.png"
              class="h-[1px] w-full mt-4"
              alt=""
            />
          </div>
        );
      })
    }
  </div>
</section>
