---
import experiences from "@/js/objects/experiences.js";
import tags from "@/js/objects/tags.js";
import { formatDate, calculateDuration } from "@/js/DateFormat.js";
---

<section class="w-full md:max-w-full md:px-0 px-8">
  <h1
    class="text-primary md:text-5xl text-3xl font-bold text-center md:my-20 my-8 uppercase"
  >
    Work Experience
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {
      experiences.map((experience) => {
        // Ensure dates are in string format for formatDate and calculateDuration functions
        const startDateStr = experience.startDate.toISOString().split("T")[0];
        const endDateStr = experience.endDate
          ? experience.endDate.toISOString().split("T")[0]
          : null;

        return (
          <div class="flex flex-col text-white bg-gray rounded-2xl shadow-primary">
            <div class="p-8">
              <div class="flex justify-between">
                <div class="flex flex-col md:flex-row gap-4 md:items-center">
                  <img
                    src={experience.image}
                    alt={experience.position}
                    class="bg-white w-20 h-20 object-cover rounded-xl"
                  />
                  <div>
                    <h3 class="text-primary font-bold text-xl uppercase">
                      {experience.position}
                    </h3>
                    <h2 class="font-bold">
                      {experience.company} | {experience.type}
                    </h2>
                    <div class="flex gap-2 text-sm">
                      <span>
                        {formatDate(startDateStr)} -{" "}
                        {endDateStr ? formatDate(endDateStr) : "Present"}
                        {endDateStr &&
                          ` • ${calculateDuration(startDateStr, endDateStr)}`}
                      </span>
                    </div>
                    <span class="text-sm">{experience.location}</span>
                  </div>
                </div>
                <a
                  href={experience.url}
                  target="_blank"
                  class="text-white hover:text-primary h-fit"
                >
                  <i class="fa-solid fa-up-right-from-square" />
                </a>
              </div>
              <p class="text-white mt-2">{experience.description}</p>

              <div class="flex flex-wrap gap-2 mt-4">
                {experience.tagIds &&
                  experience.tagIds.map((tagId) => (
                    <div class="flex w-fit h-fit center text-primary bg-secondary rounded-lg p-1 pr-2 items-center">
                      <img
                        src={tags[tagId]?.image}
                        alt={tags[tagId]?.name}
                        class="h-6 bg-black rounded"
                      />
                      <p class="h-fit w-fit ml-2 text-xs">
                        {tags[tagId]?.name}
                      </p>
                    </div>
                  ))}
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</section>
