---
import projects from "@/js/objects/projects.js";
import tags from "@/js/objects/tags.js";
---

<section class="w-full md:max-w-full">
  <h1
    class="text-primary md:text-5xl text-3xl font-bold text-center md:my-20 my-8 uppercase"
  >
    Portfolio
  </h1>
  {
    projects.map((project, index) => (
      <div
        class={`md:flex md:w-full px-8 ${index % 2 === 0 ? "flex-row" : "flex-row-reverse"} items-center md:my-12 mt-0 observer-element`}
        data-animation-direction={`${index % 2 === 0 ? "left" : "right"}`}
      >
        <img
          src={project.image}
          alt={project.title}
          class="md:max-h-80 mb-8 object-cover rounded-2xl md:w-1/2 w-full"
        />
        <div
          class={`relative md:w-1/2 h-fit p-6 md:mt-32 md:bottom-4 bottom-0 mb-8 ${index % 2 === 0 ? "md:right-8" : "md:left-8"} bg-gray rounded-2xl z-10 shadow-2xl card-container`}
        >
          <div class="flex justify-between">
            <div class="mb-2">
              <h3 class="text-primary font-bold text-xl uppercase">
                {project.title}
              </h3>
            </div>
            <div>
              <a
                href={project.url}
                target="_blank"
                class="text-white hover:text-primary h-fit"
              >
                <i class="fa-solid fa-up-right-from-square" />
              </a>
              {project.githubUrl && (
                <a
                  href={project.githubUrl}
                  target="_blank"
                  class="text-white hover:text-primary h-fit ml-2"
                >
                  <i class="fa-brands fa-github" />
                </a>
              )}
            </div>
          </div>
          <p class="text-white">{project.description}</p>
          <div class="flex flex-wrap gap-2 mt-4">
            {project.tagIds &&
              project.tagIds.map((tagId: string) => (
                <div class="flex w-fit h-fit center text-primary bg-secondary rounded-lg p-1 pr-2 items-center">
                  <img
                    src={tags[tagId].image}
                    alt={tags[tagId].name}
                    class="h-6 bg-black rounded"
                  />
                  <p class="h-fit w-fit ml-2 text-xs">{tags[tagId].name}</p>
                </div>
              ))}
          </div>
        </div>
      </div>
    ))
  }
</section>

<script src="@/js/CardAnimations.js"></script>

<style>
  @media (max-width: 800px) {
    .card-container {
      margin-top: -60px;
    }
  }
</style>
